.capabilities {
  margin-top: 130px;
  padding: 0 calc(50% - 585px);
}

.capabilities__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 52px;
  color: #2e2d35;
  margin: 0;
}

.capabilities__list {
  list-style: none;
  padding: 0;
  margin: 50px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.capabilities__item {
  width: 48.7%;
  height: 235px;
  margin-bottom: 30px;
  padding: 45px 240px 40px 40px;
  box-sizing: border-box;
  background-color: #f6f5f9;
  background-position: right 10px center;
  background-repeat: no-repeat;
  font-family: $font-segoe;

  &--first {
    background-image: url("../../img/item1.png");
  }
  &--second {
    background-image: url("../../img/item2.png");
  }
  &--third {
    background-image: url("../../img/item3.png");
  }
  &--fourth {
    background-image: url("../../img/item4.png");
  }
}

.capabilities__item-title {
  width: 223px;
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 29px;
}

.capabilities__item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  margin-top: 21px;
}
