$font-whitney: "Whitney", "Arial", sans-serif;
$font-segoe: "Segoe UI", "Arial", sans-serif;
$gradient: linear-gradient(90deg, #2d1686 0%, #4e33b5 100%);
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$mobile: "(min-width: 320px) and (max-width: 767px)";
